# ============================
# PYTHON / FASTAPI
# ============================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*

# ============================
# ANDROID / GRADLE
# ============================
*.iml
.gradle/
.idea/
local.properties
build/
captures/
.cxx/
.externalNativeBuild/

# Android outputs
*.apk
*.aab

# ============================
# JAVA / KOTLIN
# ============================
*.class
*.jar
*.war
*.ear
*.kotlin_module

# ============================
# LOGS
# ============================
*.log

# ============================
# OS / EDITOR
# ============================
.DS_Store
Thumbs.db
.vscode/
