DATABASE_URL=DATABASEURL
DATABASE_URL_TEST=postgresql://USUARIO:CONTRASEÑA@localhost:5432/indoora_test
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=indoora2026@gmail.com
EMAIL_PASS=PASSWORD

SECRET_KEY=clave_secreta_testing_jwt
MOTOR_API_KEY=clave_secreta_testing_motor